@mixin content ($width, $height){
  width: $width;
  height: $height;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  text-align: center;
}

.content__game{
  @include content(720px, 560px);
}

.content__start{
  @include content(520px, 430px);
}

.content__end{
  @include content(520px, 490px);
}