.button{
    font-size: 16px;
    color: rgb(29,116,49);
    border-radius: 4px;
    background-color: rgba(255,255,255,0.85);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    height: 42px;
}

.button__start{
    width: 144px;
}

.button__end{
    width: 128px;
    margin-top: 40px;
}